@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		<li><a asp-controller="User" asp-action="Index">Users</a></li>
		<li><a asp-controller="Role" asp-action="Index">Roles</a></li>
		<li><a asp-controller="Permission" asp-action="Index">Permissions</a></li>
	</ul>
</div>
<div id="admin">
	@RenderBody()
</div>

@section Scripts
{
	@RenderSection("Scripts", required: false)
}