@model Models.DTO.UpdateUserDTO

@{
	Layout = "~/Views/Shared/_MembershipLayout.cshtml";
	ViewData["Title"] = "Update User";
}

@section Scripts{
	<script src="~/ClientApp/Pages/UserCreateUpdate.js"></script>
	<script>
		var allRoles = @Json.Serialize(Model.AllRoles);
		var roles = @Json.Serialize(Model.SelectedRoles);
		var userCreateUpdate = new UserCreateUpdate(allRoles, roles);
	</script>
}

<h2>Update User</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Login" class="control-label"></label>
				<input asp-for="Login" class="form-control" />
				<span asp-validation-for="Login" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
					</label>
				</div>
			</div>
			<div class="form-group attributeref-two-listboxes">
				<select asp-items="Model.AvailableRoles" id="availableroles" class="form-control chooser" multiple size="12"></select>
				<div class="buttons">
					<button type="button" class="btn btn-primary" onclick="userCreateUpdate.removeAllRoles()"><span><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i></span></button>
					<button type="button" class="btn btn-primary" onclick="userCreateUpdate.removeRoles()"><span><i class="fas fa-chevron-left"></i></span></button>
					<button type="button" class="btn btn-primary" onclick="userCreateUpdate.addRoles()"><span><i class="fas fa-chevron-right"></i></span></button>
					<button type="button" class="btn btn-primary" onclick="userCreateUpdate.addAllRoles()"><span><i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i></span></button>
				</div>
				<select asp-items="Model.SelectedRoles" id="selectedroles" class="form-control chooser" multiple size="12"></select>
				<select asp-for="RoleIds" asp-items="Model.AllRoles" class="form-control" hidden="hidden" multiple style="visibility:hidden"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>