<?xml version="1.0" encoding="utf-8" ?>
<nlog 
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="nlog" fileName="{{FOLDERNAME}}\nlog_${shortdate}.log.txt" layout="${longdate} | ${logger} | ${uppercase:${level}}${newline}    ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=longType,message,method}}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="nlog" />
	</rules>
</nlog>